@model ProyectoPrograAvanzada.Models.LoginModel

@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{

<div>

    <a href = "/Login/Ingresar" class = "btn btn-default">Ingresar</a>

</div>

}